<br/>

<center>
 <div class="card border-secondary mb-6" style="max-width: 50rem;">
  <div class="card-header">---- Evenement n°<%= @event.id %> ----</div>
    <div class="card-block">
      <p class="card-text">Titre : <%= @event.title %></p>
      <p class="card-text">Description : <%= @event.description %></p>
      <p class="card-text">Date : <%= @event.start_date %></p>
      </div>
  </div>
</center>